<%= form_for(@poster, :html => {:class => "form-horizontal center", multipart: true}) do |p| %>
  <div class="col-md-6 col-xs-12">
  <p>
    <spam id="campo-obligatorio">* </spam><%= p.label 'Seleccionar plantilla' %><br>
    <%= p.select :formato,
    options_from_collection_for_select(Format.all, "id", "nombre", p.object.formato),{
    prompt: "Seleccionar"},{class: "form-control", required: true} %>
  </p>
  <p>
    <spam id="campo-obligatorio">* </spam><%= p.label :titulo %><spam id="campo-ayuda"> (máximo de 100 caracteres)</spam><br>
    <%= p.text_field :titulo,:maxlength => 100,:value=>@titulo_trabajo,:readonly => true,id:'input-responsive', class: 'form-control', required: true%>
  </p>
  <p>
    <spam id="campo-obligatorio">* </spam><%= p.label "Sesión de Trabajo" %><br>
    <!-- <%= p.text_field :session_id,:maxlength => 100,:selected=>@sesion_trabajo, id:'input-responsive', class: 'form-control',required: true%> -->
    <%= p.select :session_id,options_from_collection_for_select(Session.all, "id", "nombre"),{:selected => @sesion_trabajo},{class: 'form-control',:disabled=>true}%>
    <!-- <%= p.select :session_id,
    options_from_collection_for_select(Session.all, "id", "nombre",selected:@session_trabajo),{
    prompt: "Seleccionar una Sesión de Trabajo"},{class: "form-control"}%> -->
  <p>
    <%= p.label :autor %><br>
    <%= p.text_field :autor,:maxlength => 40, id:'input-responsive', class: 'form-control'%>
  </p>
  <p>
    <%= p.label 'Coautor 1°' %><br>
    <%= p.text_field :coautor1,:maxlength => 40, id:'input-responsive', class: 'form-control'%>
  </p>
  <p>
    <%= p.label 'Coautor 2°' %><br>
    <%= p.text_field :coautor2,:maxlength => 40, id:'input-responsive', class: 'form-control'%>
  </p>
  <p>
    <%= p.label 'Coautor 3°' %><br>
    <%= p.text_field :coautor3,:maxlength => 40, id:'input-responsive', class: 'form-control'%>
  </p>
  <p>
    <%= p.label 'Coautor 4°' %><br>
    <%= p.text_field :coautor4,:maxlength => 40, id:'input-responsive', class: 'form-control'%>
  </p>
  <p>
    <%= p.label 'Coautor 5°' %><br>
    <%= p.text_field :coautor5,:maxlength => 40, id:'input-responsive', class: 'form-control'%>
  </p>
  <p>
    <%= p.label 'Institución a la que pertenece' %><br>
    <%= p.text_field :institucion,:value=>@institucion,:readonly => true,:maxlength => 50, id:'input-responsive', class: 'form-control'%>
  </p>
  <p>
    <%= p.label :introduccion %><spam id="campo-ayuda"> (máximo de 400 caracteres)</spam><br>
    <%= p.text_area :introduccion,:maxlength => 400, id:'input-responsive', class: 'form-control'%>
  </p>
  </div>
  <div class="col-md-6 col-xs-12" style="background-color:#eee;">
  <h3>Imágenes <span class="glyphicon glyphicon-picture" aria-hidden="true"></span></h3>
  <p>
    <hr />
    <spam id="campo-obligatorio">* </spam><%= p.label 'Logo' %><br>
    <div id="logo_preview_last"><%= image_tag @poster.logo.url(:thumb) , id: 'logo_thumb'%></div>
    <div id="logo_preview_now"></div>
    <%= p.file_field :logo%>
    <spam id="campo-sugerencia"> (Dimensiones ideales: 545x125)</spam>
    <hr />
    <div id="target">
    </div>
  </p>
  <div id="imagenes_formato_1" style="<%= 'display: none;' if @poster.formato == '2' %>">
  <p>
    <hr />
    <spam id="campo-obligatorio">* </spam><%= p.label 'Primera Imagen'%><br>
    <div id="img1a_preview_last"><%= image_tag @poster.img1a.url(:thumb)%></div>
    <div id="img1a_preview_now"></div>

    <%= p.file_field :img1a%>
    <spam id="campo-sugerencia"> (Dimensiones ideales: 795x525)</spam>
    <hr />
  </p>
   <p>
     <hr />
    <spam id="campo-obligatorio">* </spam><%= p.label 'Segunda Imagen'%><br>
    <div id="img1b_preview_last"><%= image_tag @poster.img1b.url(:thumb)%></div>
    <div id="img1b_preview_now"></div>

    <%= p.file_field :img1b%>
    <spam id="campo-sugerencia"> (Dimensiones ideales: 795x525)</spam>
    <hr />
  </p>
  </div>
  <div id="imagenes_formato_2" style="<%= 'display: none;' if @poster.formato == '1' %>">
  <p>
    <hr />
    <spam id="campo-obligatorio">* </spam><%= p.label 'Imagen Principal'%><br>
    <div id="img2_preview_last">
      <%= image_tag @poster.img2.url(:thumb)%>
    </div>
    <div id="img2_preview_now">

    </div>
    <%= p.file_field :img2 %>
    <spam id="campo-sugerencia"> (Dimensiones ideales:1126x730)</spam>
    <hr />
  </p>
  </div>
  </div>
  <div class="col-md-12 ">
  <hr />
  </div>
  <div class="col-md-6 col-xs-12">
  <p>
    <%= p.label :objetivos %><spam id="campo-ayuda"> (máximo de 400 caracteres)</spam><br>
    <%= p.text_area :objetivos ,:maxlength => 400, id:'input-responsive', class: 'form-control'%>
  </p>
  <p>
    <%= p.label :metodologia %><spam id="campo-ayuda"> (máximo de 400 caracteres)</spam><br>
    <%= p.text_area :metodologia ,:maxlength => 400, id:'input-responsive', class: 'form-control'%>
  </p>

  </div>
  <div class="col-md-6 col-xs-12">
  <p>
    <%= p.label :resultados %><spam id="campo-ayuda"> (máximo de 400 caracteres)</spam><br>
    <%= p.text_area :resultados ,:maxlength => 400, id:'input-responsive', class: 'form-control'%>
  </p>
  <p>
    <%= p.label :conclusiones %><spam id="campo-ayuda"> (máximo de 400 caracteres)</spam><br>
    <%= p.text_area :conclusiones,:maxlength => 400, id:'input-responsive', class: 'form-control'%>
  </p>
  </div>
  <div class="col-md-12">
    <p>
    <center>
      <%= p.submit 'Guardar', class: 'btn btn-success', id:'input-chico'%><br><br>
      <%= link_to 'Cancelar',:root, class: 'btn btn-default', id:'input-chico'%>
    </center>
    </p>
  </div>
<% end %>

<script type="text/javascript">
  <%=render 'form_logic.js.erb'%>
</script>
