<div class="container text-center">
  <h2>Mi P칩ster</h2><br>
  <hr />
  <div class="row">
  <div class="col-md-12">
  	<div class="alert alert-danger">
  		<strong>Atenci칩n!</strong> Recuerde que una vez finalizado el p칩ster no se podr치n hacer mas cambios en el mismo.
  	</div>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
      <%if @poster.titulo%>
  		  <%= image_tag ("/images/poster/#{@poster.id}/#{@poster.id}.png") ,id:"poster_thumb" %>
      <%else%>
        <%= image_tag ("/images/poster/no_poster.png") ,id:"poster_thumb" %>
      <%end%>
    <br />
  	<br />
  	<div class="btn-group btn-group-justified">
  		<%=link_to "Ver","/images/poster/#{@poster.id}/#{@poster.id}.png",target: "_blank",class:"btn btn-success" %>
  		<%if !@finalizado%>
         <%if @poster.titulo%>
            <%=link_to "Editar",edit_poster_path(@poster.id),class:"btn btn-success" %>
            <%=link_to "Finalizar",finalizar_poster_path(@poster.id),class:"btn btn-success" %>
         <%else%>
            <%=link_to "Comenzar a Editar",edit_poster_path(@poster.id),class:"btn btn-success" %>
         <%end%>
         <%=link_to "Eliminar",destroy_poster_path(@poster.id),class:"btn btn-danger" %>
		  <%end%>
	</div>
  </div>
  <div class="col-md-3">

  </div>

  </div>
</div>
