<div class="container text-left">
<div class="row">
  <div class="col-md-2">
    &nbsp;
  </div>
  <div class="col-md-10">
<h2>Editar Perfil</h2>
<br />
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'devise/errors_devise' %>
    <div class="col-md-5">
    <div class="field">
      <%= f.label :nombre %><br />
      <%= f.text_field :nombre, :required => true,class: "form-control",autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :apellido %><br />
      <%= f.text_field :apellido,:required => true,class: "form-control"%>
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email,:required => true,class: "form-control"%>
    </div>
    <div class="field">
       <%= f.label 'Tipo de DNI' %><br />
       <%= f.select :tipo_dni, options_from_collection_for_select(Document.all, "id", "nombre", f.object.tipo_dni),{prompt: "Seleccionar"},{:required => true,class: "form-control", required: true}%>
    </div>
    <div class="field">
      <%= f.label 'DNI' %><br />
      <%= f.text_field :dni,:required => true,class: "form-control"%>
    </div>
    <div class="field">
      <%= f.label 'CUIT' %><br />
      <%= f.text_field :cuit, :required => true,class: "form-control"%>
    </div>
    <div class="field">
      <%= f.label 'Teléfono' %><br />
      <%= f.text_field :telefono,{class: "form-control",required: true}%>
    </div>
    </div>
    <div class="col-md-4">
    <div class="field">

      <%= f.label 'Participación' %><br />
      <%= f.select :tipo_participacion, options_from_collection_for_select(Participation.all, "id", "nombre", f.object.tipo_participacion),{prompt: "Seleccionar"},{class: "form-control", required: true} %>
    </div>
    <div class="field" id="div_tipo_beca">
      <%= f.label 'Tipo de Beca' %><br />
      <%= f.select :tipo_beca, options_from_collection_for_select(Scholarship.all, "id", "nombre", f.object.tipo_beca),{prompt: "Seleccionar"},{class: "form-control", required: true} %>
    </div>
    <div class="field">
      <%= f.label :organismo %><br />
      <%= f.select :organismo, options_from_collection_for_select(Organism.all, "id", "nombre", f.object.organismo),{prompt: "Seleccionar"},{class: "form-control", required: true} %>
    </div>
    <div class="field">
      <%= f.label :universidad %><br />
      <%= f.select :universidad,  options_from_collection_for_select(College.all, "id", "nombre", f.object.universidad),{prompt: "Seleccionar"},{class: "form-control", required: true} %>
    </div>
    <div class="field">
      <%= f.label :centro %><br />
      <%= f.select :centro, options_from_collection_for_select(Center.all, "id", "nombre", f.object.centro),{prompt: "Seleccionar"},{class: "form-control", required: true}%>
    </div>
    <div class="field" id="div_otro_organismo" style="display: none">
      <%= f.label :otro_organismo %><br />
      <%= f.text_field :otro_organismo,:required => true,class: "form-control"%>
    </div>
    <div class="field" id="div_otra_universidad" style="display: none">
      <%= f.label :otra_universidad %><br />
      <%= f.text_field :otra_universidad, :required => true,class: "form-control"%>
    </div>
    <div class="field" id="div_otro_centro" style="display: none">
      <%= f.label :otro_centro %><br />
      <%= f.text_field :otro_centro, :required => true,class: "form-control"%>
    </div>
    <br>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>
  <div class="col-md-3">
    <div id="cambiar-contraseña" class="alert alert-danger">
    <br />

    <div class="field">
      <%= f.label 'Contraseña' %> <i>(dejar en blanco si no desea cambiar la contraseña)</i><br />
      <%= f.password_field :password, autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <div class="field">
      <%= f.label 'Confirmar contraseña' %><br />
      <%= f.password_field :password_confirmation, :required => true,class: "form-control",autocomplete: "off" %>
    </div>
    </div>
    <a src="#" class="btn btn-info btn-sm" id="hide">No cambiar contraseña</a>
    <a src="#" class="btn btn-danger btn-sm" id="show">Cambiar contraseña</a><br />
  </div>
  <div class="col-md-12">
    <div class="field">
      <%= f.label 'Contraseña actual' %> <i>(necesaria para efectuar los cambios)</i><br />
      <%= f.password_field :current_password, :required => true,class: "form-control",autocomplete: "off" %>
    </div>
  <div class="actions">
    <br />
    <%= f.submit "Continuar" ,class: 'btn btn-success'%>
  </div>
  <br />
  <%= link_to "Volver", :back %>
  </div>
<% end %>
</div>
</div>
<script type="text/javascript">
  <%=render 'edit.js'%>
</script>

<!--<h3>Eliminar mi cuenta</h3>

<p>No se encuentra satisfech@? <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->
