<div class="container text-left">
<div class="row">
  <div class="col-md-2">
    &nbsp;
  </div>
  <div class="col-md-10">
<h2>Editar Perfil</h2>
<br />
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render 'devise/errors_devise' %>
    <div class="col-md-5">
    <div class="field">
      <%= f.label :nombre %><br />
      <%= f.text_field :nombre, :required => true,class: "form-control",autofocus: true %><br />
    </div>
    <div class="field">
      <%= f.label :apellido %><br />
      <%= f.text_field :apellido,:required => true,class: "form-control"%><br />
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email,:required => true,class: "form-control"%><br />
    </div>
    <div class="field">
       <%= f.label 'Tipo de DNI' %><br />
       <%= f.select :tipo_dni, options_from_collection_for_select(Document.all, "id", "nombre", f.object.tipo_dni),{prompt: "Seleccionar"},{:required => true,class: "form-control", required: true}%><br />
    </div>
    <div class="field">
      <%= f.label 'DNI' %><br />
      <%= f.text_field :dni,:required => true,class: "form-control"%><br />
    </div>
    <div class="field">
      <%= f.label 'Teléfono' %><br />
      <%= f.text_field :telefono,{class: "form-control",required: true}%><br />
    </div>
    <br />
    </div>
    <div class="col-md-4">
      <div class="field">
          <%= f.label :tipo_participacion %><br />
          <%= f.select :tipo_participacion, options_from_collection_for_select(Participation.all, "id", "nombre", f.object.tipo_participacion),{prompt: "Seleccionar"},{:required => true,class: "form-control"}%>
      </div>
      <div id="otros_campos_autor">
          <div class="field">
              <%= f.label 'Participación en la Comunidad Científica' %><br />
              <%= f.select :authors_id , options_from_collection_for_select(Author.all, "id", "nombre",f.object.authors_id),{prompt: "Seleccionar"},{class: "form-control",style:"width: 360px;"}%><br />
          </div>
      </div>
      <div class="field">
          <%= f.label :tipo_institucion %><br />
          <%= f.select :tipo_institucion, options_from_collection_for_select(Institution.all, "id", "nombre", f.object.tipo_institucion),{prompt: "Seleccionar"},{:required => true,class: "form-control"}%>
      </div>
      <div class="field">
        <%= f.label :institucion %><br />
        <%= f.text_field :institucion,  :required => true,class: "form-control"%>
      </div>

    <div class="field">
      <%= f.label 'Contraseña actual' %> <spam style="font-size:12px;">(necesaria para efectuar los cambios)</spam><br />
      <%= f.password_field :current_password, :required => true,class: "form-control",autocomplete: "off" %><br />
    </div>

    <div id="cambiar-contraseña" class="alert alert-danger">
    <div class="field">
      <%= f.label 'Nueva Contraseña' %> <spam style="font-size:12px;">(dejar en blanco si no desea cambiar la contraseña)</spam><br />
      <%= f.password_field :password,  class: "form-control",autocomplete: "off" %>
      <% if @minimum_password_length %>
        <br />
        <!-- <em><%= @minimum_password_length %> characters minimum</em> -->
      <% end %>
    </div>
    <div class="field">
      <%= f.label 'Confirmar Nueva Contraseña' %><br />
      <%= f.password_field :password_confirmation, class: "form-control",autocomplete: "off" %>
    </div>
    </div>
    <a src="#" class="btn btn-info btn-sm" id="hide">No cambiar contraseña</a>
    <a src="#" id="show">Cambiar contraseña</a><br />
    <br />
    <div class="actions">
      <%= f.submit "Continuar" ,class: 'btn btn-success btn-lg',data: { turbolinks: false } %><br /><br />
      <%#= link_to "Volver", :back %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
  </div>
  <div class="col-md-3">

  </div>

<% end %>
</div>
</div>
</div>
<script type="text/javascript">
  <%=render 'edit.js'%>
</script>

<!--<h3>Eliminar mi cuenta</h3>

<p>No se encuentra satisfech@? <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>-->
