<!-- Para smartphones -->
<div class="container text-center hidden-lg hidden-md hidden-sm">
<div class="row" id="menu-home">
  <!--Usuario que inició sesión-->
  <% if user_signed_in? %>z
    <div class="col-xs-12" id="inside-sm">
      <%=link_to user_path(current_user.id) do %>
        <p style="margin-top: 50px;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Mi perfil</p>
      <%end%>
    </div>
    <!--Usuario que completó registro-->
    <%if current_user.registro_completo%>
      <%if @tiene_poster%>
        <div class="col-xs-12" id="inside-sm">
          <%=link_to poster_path(Poster.where('id = ?',current_user.poster_id).first.id) do%>
            <p style="margin-top: 25px;"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Mi póster</p>
          <%end%>
        </div>
      <%else%>
        <div class="col-xs-12" id="inside-sm">
          <%=link_to posters_new_pre_path do%>
            <p style="margin-top: 25px;"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Iniciar póster</p>
          <%end%>
        </div>
      <%end%>
      <div class="col-xs-12" id="inside-sm">
        <%=link_to '#' do%>
          <p style="margin-top: 20px;"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Certificado de Asistencia</p>
        <%end%>
      </div>
      <div class="col-xs-12" id="inside-sm">
        <%=link_to '#' do%>
          <p style="margin-top: 25px;"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Novedades</p>
        <%end%>
      </div>
      <%if current_user.rol!=1%>
        <div class="col-xs-12" id="inside-sm">
          <%=link_to '#' do%>
            <p style="margin-top: 25px;"><span class="glyphicon glyphicon-list-alt"></span> Listado de Inscriptos</p>
          <%end%>
        </div>
        <div class="col-xs-12" id="inside-sm">
          <%=link_to '#' do%>
            <p style="margin-top: 25px;"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Estadísticas</p>
          <%end%>
        </div>
        <%if current_user.rol==3%>
          <div class="col-xs-12" id="inside-sm">
            <%=link_to '#' do%>
              <p style="margin-top: 25px;"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> ABM</p>
            <%end%>
          </div>
        <%end%>
      <%end%>
    <%end%>
    <!--End Usuario que completó registro-->
  <!--Usuario que no inició sesión-->
  <%else%>
  <div class="row">
    <div class="col-xs-12" id="inside-sm">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
  <%end%>
  <!--End Usuario que inició sesión-->
</div>
</div>

<!-- Para desktop y tablets -->
<div class="container text-center hidden-xs">
<div class="row" id="menu-home">
  <% if user_signed_in? %>
    <div class="col-md-8 col-lg-6 B" id="inside">
      <%=link_to user_path(current_user.id) do %>
        <p style="margin-top: 50px;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Mi perfil</p>
      <%end%>
    </div>
    <%if current_user.registro_completo%>
    <%if @tiene_poster%>
      <div class="col-md-4 col-lg-3 G" id="inside-md">
        <%=link_to poster_path(current_user.poster_id) do%>
          <p style="margin-top: 25px;"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Mi póster</p>
        <%end%>
      </div>
    <%else%>
      <div class="col-md-4 col-lg-3 G" id="inside-md">
        <%=link_to posters_new_pre_path do%>
          <p style="margin-top: 25px;"><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Iniciar póster</p>
        <%end%>
      </div>
    <%end%>
    <div class="col-md-4 col-lg-3 G" id="inside-sm">
      <%=link_to others_proximamente_path do%>
        <p style="margin-top: 20px;"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Certificado de Asistencia</p>
      <%end%>
    </div>
    <div class="col-md-12 col-lg-6 O" id="inside-md">
      <%=link_to 'http://concyt.cic.gba.gob.ar', target:"_blank" do%>
        <p style="margin-top: 25px;"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Novedades</p>
      <%end%>
    </div>
    <%if current_user.rol!=1%>
    <div class="col-md-4 col-lg-4 O" id="inside-md">
      <%=link_to '#' do%>
        <p style="margin-top: 25px;"><span class="glyphicon glyphicon-list-alt"></span> Listado de Inscriptos</p>
      <%end%>
    </div>
    <div class="col-md-4 col-lg-4 O" id="inside-md">
      <%=link_to '#' do%>
        <p style="margin-top: 25px;"><span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Estadísticas</p>
      <%end%>
    </div>
    <%if current_user.rol==3%>
      <div class="col-md-4 col-lg-4 O" id="inside-md">
        <%=link_to '#' do%>
          <p style="margin-top: 25px;"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> ABM</p>
        <%end%>
      </div>
    <%end%>
    <%end%>
    <%end%>
  <%else%>
  <div class="row">
    <div class="col-md-12">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
  <%end%>

</div>
</div>
