<div class="container text-center">
  <h3>Usuarios Registrados</h3><br>
  <hr />
</div>
<div class="container text-left">
  <div class="row">
  <div class="col-md-12">
  	<p><spam id="label-green">Cantidad de Inscriptos: </spam><%=@cantidad_usuarios%></p>
  </div>
  <div class="col-md-12">
  	<table class="table table-bordered">
  		<tr>
  			<th id="th-columnas">Nombre</th>
  			<th id="th-columnas">Apellido</th>
  			<th id="th-columnas">Email</th>
        <th id="th-columnas">Participación</th>
        <th id="th-columnas">Tipo Institución</th>
        <th id="th-columnas">Institución</th>
        <th id="th-columnas">Rol</th>
  		</tr>
  		<%@usuarios.each do |u|%>
  		<tr>
  			<td><%=u.nombre%></td>
  			<td><%=u.apellido%></td>
  			<td><%=u.email%></td>
        <td><%=Participation.getParticipacion(u.tipo_participacion)%></td>
        <td>
          <%if !u.institucion.blank?%>
            <%=Institution.getInstitucion(u.tipo_institucion)%>
          <%end%>
          <%if u.tipo_participacion==2%>
            <%=Center.getSiglas(u.centers_id)%>
          <%end%>
        </td>
        <td>
          <%if u.tipo_participacion==2%>
            <%='Centro'%>
          <%else%>
            <%=u.institucion%>
          <%end%>
        </td>
        <td>
          <%if u.rol==4%>
            <%='Admin'%>
          <%elsif u.rol==3%>
            <%='Eval'%>
          <%elsif u.rol==2%>
            <%='Eval F'%>
          <%else%>
            <%='Normal'%>
          <%end%>
        </td>
  		</tr>
  		<%end%>
	</table>
  <%= will_paginate @usuarios ,:previous_label => 'anterior', :next_label => 'siguiente'%>
  </div>
  </div>
</div>
