<div class="container text-center">
  <h3>Mi Perfil</h3><br>
  <hr />
</div>

<div class="container text-left">
  <div class="row">
  <div class="col-md-4">
  	<p><spam id="label-green">Nombre:</spam> <%=@nombre%></p>
  	<p><spam id="label-green">Apellido:</spam> <%=@apellido.upcase %></p>
  	<p><spam id="label-green">DNI:</spam> <%=@dni%></p>
  	<p><spam id="label-green">Email:</spam> <%=@email%></p>
    <p><spam id="label-green">Teléfono:</spam> <%=@telefono%></p>
  </div>
  <div class="col-md-4">
    <p><spam id="label-green">Participación:</spam> <%=@participacion%></p>
    <p><spam id="label-green">Institución:</spam> <%=@institucion%></p>
    <p><spam id="label-green">Descripción de Institución:</spam> <%=@descripcion_institucion%></p>
  	<p><spam id="label-green">Fecha de Registro:</spam> <%=@fecha_inscripcion%></p>
  </div>
  <div class="col-md-2">
  		<p><center><%=link_to 'Editar', edit_user_registration_path(@usuario.id), class:'btn btn-primary'%></center></p>
  </div>
  </div>
</div>
