<div class="container text-center">    
  <h3>Mi Perfil</h3><br> 
  <hr />
</div>

<div class="container text-left">    
  <div class="row">
  <div class="col-md-4">
  	<p><spam id="label-green">Nombre:</spam> <%=@usuario.nombre%></p>
  	<p><spam id="label-green">Apellido:</spam> <%=@usuario.apellido%></p>
  	<p><spam id="label-green">Tipo de Participación:</spam> <%=@usuario.tipo_participacion%></p>
  	<p><spam id="label-green">DNI:</spam> <%=@usuario.dni%></p>
  	<p><spam id="label-green">CUIT:</spam> <%=@usuario.cuit%></p>
  	<p><spam id="label-green">Email:</spam> <%=@usuario.email%></p>
  	<p><spam id="label-green">Teléfono:</spam> <%=@usuario.telefono%></p>
  </div>
  <div class="col-md-4">
  	<p><spam id="label-green">Organismo:</spam><%=@usuario.organismo%></p>
  	<p><spam id="label-green">Beca:</spam> <%=@usuario.tipo_participacion%></p>
  	<p><spam id="label-green">Universidad:</spam> <%=@usuario.universidad%></p>
  	<p><spam id="label-green">Centro de Investigación:</spam> <%=@usuario.centro%></p>
  	<p><spam id="label-green">Fecha de Registro:</spam> <%=@usuario.created_at.to_formatted_s(:short)%></p>
  </div>
  <div class="col-md-2">
  		<p><center><%=link_to 'Editar', edit_user_registration_path(@usuario.id), class:'btn btn-primary'%></center></p>
  </div>
  </div>
</div>
