<div class="container text-center">

<div class="row">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
  <h2>Entrar</h2>
  <br />
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true,class: "form-control" %><br />
  </div>

  <div class="field">
    <%= f.label 'Contraseña' %><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.label 'recordarme' %>&nbsp;&nbsp;<%= f.check_box :remember_me %><br />

    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Continuar",class: "btn btn-default" %>
  </div>
  <%= render "devise/shared/links" %>
  </div>
  <div class="col-md-6">
  <br /><br />
  <div class="panel panel-default" id="panel-login">
    <div class="panel-body">
      <h4>Bienvenido al Sistema de Gestión del Congreso Científica Técnológico de la Provincia de Buenos Aires</h4><br />
      <h5 style="text-align: left;">A través de este sistema usted podrá:</h5><br />
      <ul style="text-align: left;" >
        <em>
        <li>Inscribirse al Congreso Científico Tecnológico de La Provincia de Buenos Aires.</li>
        <li>Presentar su trabajo de Investigación en caso de Inscribirse como Autor.</li>
        <li>Generar y Descargar su Póster para exhibir el día del congreso.</li>
        <li>Obtener su Certificado de Asistencia al Congreso.</li>
        </em>
      </ul>
      <h6 style="text-align: center;">
        <br />
        <%t = Time.now%>
        <%=t.strftime("%d/%m/%Y")%>
      </h6>
    </div>
  </div>
  </div>
  <div class="col-md-1">
  </div>
<% end %>
</div>
</div>
