<% if user_signed_in? %>
  <li><%= link_to user_path(current_user.id), :class => 'navbar-link' ,data: { turbolinks: false } do%> <span class="glyphicon glyphicon-user" aria-hidden="true"><spam> <spam><%=current_user.nombre%></spam><spam style="margin-left:3px;"><%=current_user.apellido%></spam><%end%></li>
  <li><%= link_to "Salir", destroy_user_session_path, method: :delete, :class => 'navbar-link',data: { turbolinks: false } %></li>
<% else %>
  <li><%= link_to "Registrarse", new_user_registration_url, :class => 'navbar-link',data: { turbolinks: false } %></li>
  <li><%= link_to "Entrar", new_user_session_path, :class => 'navbar-link',data: { turbolinks: false } %></li>
<% end %>
