<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sistema de Gestión - CONCYT 2017</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .dropdown-menu{
    background-color: #414042;
  }
  .dropdown-menu > li > a:hover{
  	background-color: #414042;
  }
  </style>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <figure>
        <a href="http://concyt.cic.gba.gob.ar"><img src="/header-concyt.jpg" alt="Logo" style="width:100%;overflow:hidden;"/></a>
    </figure>
</header>
<%=render 'layouts/navbar'%>
<%=render 'layouts/notificaciones'%>
<div class="container">
<%=yield%>
<br>
</div>
<footer class="container-fluid text-center" id="footer_black">
  	<div class="row">
  	<div class="col-md-4">
		<h1 id="titulo-footer">Sitios de Interes</h1>

		<p><a href="http://www.gba.gob.ar/" id="link-footer" target="_blank">Portal de la Provincia</a></p>
		<p><a href="http://www.cic.gba.gov.ar/" id="link-footer" target="_blank">Comisión de Investigaciones Científicas</a></p>
		<p><a href="http://www.mcti.gba.gov.ar/" id="link-footer" target="_blank">Ministerio de Ciencia, Tecnología e Innovación Productiva</a></p>
	</div>
	<div class="col-md-4">
		<h1 id="titulo-footer">Contacto</h1>
		<p>Email: concyt@cic.gba.gob.ar</p>
		<p>Teléfono: 0221 421-7374</p>
	</div>
  <!-- <div class="col-md-1">
  <br/>
    &nbsp;
  </div> -->
	<div class="col-md-4">
	<br/>
  <center>
		<p>&nbsp;&nbsp;<img src="/logo_gba_footer.png" class="img-responsive" alt="Cinque Terre"></p>
  </center>
  </div>
  <!-- <div class="col-md-1">
  <br/>
    &nbsp;
  </div> -->
	</div>
</footer>

</body>
</html>
